@import "./_partials/mixins", "./_partials/colors-and-variables";

@import "./_partials/home", "./_partials/personal", "./_partials/professional", "./_partials/contact", "./_partials/about", "./_partials/client",
  "./_partials/client-profile", "./_partials/footer", "./_partials/auth", "./_partials/navbar", "./_partials/info-card", "./_partials/loading",
  "./_partials/sidebar-menu", "./_partials/change-picture-modal", "./_partials/messages-container";

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");

* {
  font-family: "Lato", sans-serif;
}
body {
  background-color: black;
}
.main-wrapper {
  position: absolute;
  top: $navbar-height;
  bottom: $footer-height;
  width: 100vw;
  // overflow: scroll;
}

.main-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  background: linear-gradient(0deg, hsla(0, 0%, 0%, 0.8), hsla(0, 0%, 0%, 0.8)), url("../images/background.png") no-repeat;
  background-attachment: fixed;
  background-size: cover;
  @media only screen and (max-width: 700px) {
    background-position: center;
  }
}

.btn {
  background-color: $button-color;
  border: none;
}
.btn:hover {
  background-color: $hover-button-color;
}
