@import "./_partials/landing";
@import "./_partials/personal";

body {
  background-color: hsl(0, 7%, 11%);
  font-family: "Lato", sans-serif;
}

h1 {
  font-weight: 100;
  text-shadow: 1px 1px 5px black;
}
h3 {
  text-shadow: 2px 2px 4px black;
}
