.about-wrapper {
  @include flex-center-column;
  .about-header {
    font-weight: 300;
    font-size: 3em;
    color: $text-white;
  }
  .about-intro {
    color: $text-white;
    @include for-phone-only {
      padding: 20px;
      text-align: center;
    }
  }
  .about-photo {
    margin: 10px;
  }
  .about-maxwell {
    a {
      color: white;
      text-decoration: none;
      font-weight: 300;
      font-size: 1.2em;
    }
  }
  .about-footer {
    @include flex-center-column;
    flex-direction: row;
    div {
      margin: 10px;
      a {
        color: $text-white;
      }
      .svg-inline--fa {
        height: 32px;
        width: auto;
      }
    }
  }
}
