.client-home-wrapper {
  @include flex-center-column;
}

.client-home-container {
  display: flex;
  position: relative;
  background-color: rgba($color: $black, $alpha: 0.5);
  height: 80vh;
  width: 80vw;
}

.client-tabs {
  color: $text-white;
  position: absolute;
  right: 0;
  width: 80%;
  padding: 10px;
  height: 100%;
}

.client-divider {
  width: 2px;
  position: absolute;
  left: 20%;
  background-color: rgba($color: $contrast-gray, $alpha: 0.4);
  height: 100%;
}
