.client-profile {
  color: $text-white;
  position: absolute;
  left: 0;
  width: 20%;
  height: 100%;
}

.client-picture {
  @include flex-center-column;
  width: 100%;
  height: auto;
  padding: 5px;
  border: rgba(128, 128, 128, 0.158) solid 4px;
  img {
    width: 100%;
  }
}
.client-name,
.client-email {
  font-size: 0.8rem;
}
.client-details,
.client-settings {
  @include flex-center-column;
}
.client-settings {
  position: absolute;
  bottom: 0;
  margin: 20px 0px;
  button {
    margin: 10px 0;
    width: 100%;
  }
  .btn {
    background-color: rgba($color: #20515a, $alpha: 0.5);
    border: none;
  }
  .btn:hover {
    background-color: rgba($color: #2f7683, $alpha: 0.5);
  }
}
