.client-home-wrapper {
  @include flex-center-column;
}

.client-home-container {
  display: flex;
  position: relative;
  background-color: rgba($color: $black, $alpha: 0.5);
  height: 80vh;
  width: 80vw;
  @include for-phone-only {
    width: 95vw;
  }
}

.client-tabs {
  color: $text-white;
  position: absolute;
  right: 0;
  width: 80%;
  @include for-phone-only {
    width: 100%;
  }
  padding: 10px;
  height: 100%;
}

.client-divider {
  width: 2px;
  position: absolute;
  left: 20%;
  background-color: rgba($color: $contrast-gray, $alpha: 0.4);
  height: 100%;
  @include for-phone-only {
    display: none;
  }
}

@include for-phone-only {
  .client-tabs-container {
    button {
      padding: 5px;
    }
  }
}
