$card-background: hsla(0, 0%, 19%, 0.591);
$accent-color: hsl(38, 66%, 61%);
$blue-accent: hsl(158, 45%, 66%);
$dark-accent: hsl(38, 56%, 43%);
$contrast-gray: hsl(0, 0%, 33%);
$black: hsl(0, 0%, 10%);
$text-white: hsl(0, 0%, 88%);
$button-color: hsl(172, 48%, 22%);
$hover-button-color: hsl(172, 50%, 32%);

$navbar-height: 60px;
$footer-height: 60px;
