.contact-form-container {
  color: white;
  font-weight: 300;
  display: flex;
  justify-content: center;

  form {
    width: 200px;
    display: flex;
    flex-direction: column;
    label {
      text-align: left;
      margin: 10px 0;
    }
    textarea {
      margin-bottom: 10px;
    }
  }
}

.contact-wrapper {
  .contact-header {
    text-align: center;
    font-weight: 200;
    color: white;
    margin-bottom: 30px;
  }
}

.contact-content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  .contact-info {
    margin-right: 20px;
    color: rgb(207, 207, 207);
  }
}

.contact-emailphone {
  margin-bottom: 20px;
}

@media only screen and (max-width: 770px) {
  .contact-header {
    font-size: 2rem;
  }
  .contact-form-container {
    flex-direction: column;
    max-width: 100vw;
    padding: 10px;
    .form-control {
      width: calc(100vw - 30px);
    }
    form {
      margin-top: 20px;
    }
  }
}
