.footer {
  position: fixed;
  font-weight: 300;
  bottom: 0;
  width: 100%;
  padding: 0.5em;
  font-size: 1em;
  color: $contrast-gray;
  z-index: 0;
  .footer-left {
    float: left;
  }
  .footer-right {
    float: right;
    a {
      text-decoration: none;
      color: white;
    }
  }
  @include for-phone-only {
    display: none;
  }
}
