.home-container {
  @include flex-center-column;
  height: 100%;
}
.home-header {
  color: rgb(210, 210, 210);
  display: flex;
  flex-direction: column;
  text-align: center;

  h1 {
    font-size: 6em;
    margin-bottom: -0.2em;
    font-weight: 300;

    animation: header-move-up ease-in 1s forwards;
    @media only screen and (max-width: 770px) {
      font-size: 3em;
    }
  }
  @keyframes header-move-up {
    0% {
      transform: translateY(20%);
      opacity: 0;
    }
    100% {
      transform: translateY(0%);
      opacity: 1;
    }
  }
  h3 {
    color: $accent-color;
    margin-top: 1.5em;
    font-weight: 300;
    font-size: 1em;
    letter-spacing: 0.5em;
  }
}

.home-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 2em;

  h1 {
    color: hsl(0, 0%, 71%);
    font-weight: 200;
    @media only screen and (max-width: 770px) {
      font-size: 1.5em;
    }
  }

  button {
    margin: 1em;
    width: 151px;
    height: 60px;
    border-radius: 0;
    font-weight: 200;
    background: hsl(0, 0, 13%);
    border: none;
  }
}

.main-content-div {
  z-index: 1;
}

.navigation-container {
  margin-bottom: 10px;
}
