.login-card-wrapper {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  color: #ededed;

  .card {
    background: #0000007c;
    color: rgba(255, 255, 255, 0.7);
    border-radius: 0.5em;

    .btn {
      background: #7aa5a8;
      border: black;
    }
    button {
      margin-top: 10px;
    }
  }

  a {
    color: #ededed;
  }
  @media screen and (max-width: 400px) {
    display: block;
    margin: auto;
    max-width: 350px;
    input {
      width: 300px;
    }
    .card {
      .btn {
        width: 300px !important;
      }
    }
  }
}
.sign-in-with-google {
  display: flex;
  justify-content: center;
  svg {
    cursor: pointer;
  }
  svg:hover {
    filter: brightness(125%);
  }
}

.password-input-div {
  position: relative;
  .password-open-eye {
    position: absolute;
    right: 10px;
    top: 10px;
    color: gray;
    cursor: pointer;
  }
}
