@import "./colors";

.personal-header {
  display: flex;
  justify-content: center;
  color: white;

  .personal-header-title {
    @media only screen and (max-width: 770px) {
      font-size: 3rem;
      text-align: center;
      position: absolute;
      top: 50px;
    }
  }
}

.personal-buttons {
  display: flex;
  justify-content: center;

  .card {
    background-color: $card-background;
    color: hsl(0, 0%, 80%);
    border-radius: 0.5em;

    .btn {
      background: $accent-color;
      border: none;
      float: right;
    }
  }
}

.personal-cards {
  display: flex;
  margin: 0 3em;
  @media only screen and (max-width: 700px) {
    font-size: initial;
    margin: 0px;
    display: block;
    position: absolute;
    top: 100px;
  }
  .card {
    margin: 15px;
    max-height: fit-content;

    .card-title {
      text-align: center;
      font-size: 100%;
      margin-bottom: 20px;
    }
    .card-text {
      font-size: 100%;
      word-spacing: 0.3em;
      font-weight: 300;
    }
  }
}
