.professional-wrapper {
  @include flex-center-column;
  color: $text-white;
}

.professional-main {
  background-color: rgba($color: $black, $alpha: 0.2);
  width: calc(100vw - 10%);
  border-radius: 10px;
  font-weight: 200;
  line-height: 24px;
  padding: 20px;
  max-height: max(80vh, 300px);
  overflow: scroll;
}

.professional-header {
  margin-top: 20px;
  font-weight: 300;
}
