.update-profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  .card {
    width: 50%;
    align-items: center;
    background-color: rgba($color: #2e708391, $alpha: 0.8);
    color: white;
    button {
      margin-top: 10px;
    }
  }
  align-items: center;
}
